    /* #header {
    background-color: black !important;
    position: sticky !important;
} */

    #browse-content {
        background: url(unsplash.com/random/?Cryptocurrency&1) rgba(0, 0, 0, 0.8);
        min-height: 100vh;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        background-size: cover;
        background-position: center;
        padding: 80px 20px;
    }

    #browse-content .header-link {
        margin: 0 20px 10px 20px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    #browse-content .header-link>img {
        /* color: rgb(255 0 0); */
        /* font-size: clamp(30px, 6vw, 70px); */
        /* font-weight: 700; */
        width: clamp(80px, 19vw, 170px);
    }

    #browse-content .header-link>h2 {
        font-family: 'Nunito', sans-serif;
        font-size: clamp(14px, 4vw, 30px);
        color: #6f6f6f;
    }
    /* #browse-content .latest-movies {
padding: 0;
} */
    /*
#browse-content .movie-container {
height: clamp(17px, 27vw, 146px);
width: clamp(26px, 47vw, 260px);
align-items: flex-start;
} */
    /* #browse-content .video-popup>#videoIframe {
height: clamp(243px, 33vw, 788px);
width: clamp(879px, 7vw, 131px);
} */

    #browse-content .movie-container:hover {
        transform: translateY(-10px);
    }
    /* #browse-content .movie-container .sub-container-desc {
top: -15%;
} */

    .latest-movies {
        width: 100%;
        justify-content: center;
        padding: 0 clamp(55px, 5vw, 50px);
    }

    .movie-container {
        justify-content: center;
    }

    @media (max-width: 550px) {
        #browse-content {
            padding: 10px 0px;
        }
        #browse-content .movie-container:hover {
            transform: none;
        }
    }