{% extends 'base.html' %}

{% block Start %}
<section id="browse-content">
    <div class="header-link">
        <h2>Browse whatever you want</h2>
        <img src="https://www.browsemax.com/img/browse-max-h-w-l.svg" alt="browse" border="0">
    </div>

    <div class="browse-container">
        <div class="browse-nav-container">
          <div class="browse-container-title">
            <p>Tags</p>
          </div>
          <div class="browse-container-category">
              <div class="browse-container-data">
               {% for category in category  %}
                  <a href="">{{category.category}}</a>
               {% endfor %}
              </div>
            </div>
            <div class="browse-container-title">
              <p style="padding: 0 15px;">Tags</p>
            </div>
            <div class="browse-container-tags">
             <div class="browse-container-data">
                 {% for tags in tags  %}
                   <a href="">{{tags.name}}</a>
                 {% endfor %}
              </div>
            </div>
        </div>
        <div class="browse-main-container">
            <div class="browse-main-container-slider">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://images.pexels.com/photos/19101334/pexels-photo-19101334/free-photo-of-girl-playing-soccer.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/19101334/pexels-photo-19101334/free-photo-of-girl-playing-soccer.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/19101334/pexels-photo-19101334/free-photo-of-girl-playing-soccer.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/19101334/pexels-photo-19101334/free-photo-of-girl-playing-soccer.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
            <div class="browse-main-container-items">
              <div class="browse-main-container-filter">
                <h5>
                    Continue Watching ...
                </h5>
                <form method="GET">
                  <select name="filtering" onchange="this.form.submit()">
                      <option value="none">Filter</option>
                      <option value="01">Alt 2</option>
                      <option value="02">Alt 3</option>
                  </select>
                </form>
              </div>
              <div class="browse-main-container-data-all">
                <div class="scroll-holder">
                  <div class="scroll-items">
                    <p>Latest Release</p>
                    <div class="scroll-tray">
                      {% for items in items  %}
                      <a href="{% url 'detail' items.slug %}" >
                        <div class="scroll-tray-items">
                          <div class="scroll-tray-items-image">
                              <img src="{{items.poster_portrait}}" alt="{{items.name}}">
                          </div>
                          <div class="scroll-tray-items-data">
                            <div class="scroll-tray-items-update">
                              <p>{{items.updated_at}}</p>
                            </div>
                            <div class="scroll-tray-items-name">
                              <p class="p">{{items.name}}</p>
                              <p>{{items.movie_year}}</p>
                            </div>
                            <div class="scroll-tray-items-tag">
                             <p>{{items.tags.name}}</p>
                            </div>
                          </div>
                        </div>
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>

</section>
{% endblock Start %}
