{% extends 'base.html' %}

{% block meta %}

{% block title %}Netifix - Find Anything you want{% endblock title %}

<link rel="icon" href="/media/netifix.png">
<meta name="keywords" content="Watch, Download, Strem, movie , Netfilx">
{% endblock meta %}

{% block Start %}
<section id="browse-content">
    <div class="header-link">
        <h2>Browse whatever you want</h2>
        <div id="search-nav" >
          <form method="get">
              <input type="search" name="search" placeholder="Search" autocomplete="on" value="{{search}}" onclick="this.onsubmit()">
              <button type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search svgimg" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </button>
          </form>
      </div>
    </div>
    <div id="browsenavmobilecontainer">
      <div class="browse-nav-mobile-filter">
        {% for tags in movie_tags  %}
        <a href="{% url 'Browse' %}?tags={{tags.name}}" style="{% if tags.name == tag_name %} background-color: #d00000; {% endif %}">{{tags.name}}</a>
        {% endfor %}
      </div>
      <div class="browse-nav-mobile-filter">
        {% for category in category  %}
        <a href="{% url 'Browse' %}?category={{category.category}}" style="{% if category.category == category_name %} background-color: #d00000; {% endif %}">{{category.category}}</a>
        {% endfor %}
      </div>
    </div>
    <div id="chevron-down"><i class="fa-solid fa-chevron-down" id="chevron-down-logo"></i></div>
    <div class="browse-container">
        <div class="browse-nav-container">
          <div class="browse-container-title">
            <p>Category</p>
          </div>
          <div class="browse-container-category">
              <div class="browse-container-data">
               {% for category in category  %}
                  <a href="{% url 'Browse' %}?category={{category.category}}" style="{% if category.category == category_name %} background-color: #d00000; {% endif %}">{{category.category}}</a>
               {% endfor %}
              </div>
            </div>
            <div class="browse-container-title">
              <p style="padding: 0 15px;">Tags</p>
            </div>
            <div class="browse-container-tags">
             <div class="browse-container-data">
                 {% for tags in movie_tags  %}
                   <a href="{% url 'Browse' %}?tags={{tags.name}}" style="{% if tags.name == tag_name %} background-color: #d00000; {% endif %}">{{tags.name}}</a>
                 {% endfor %}
              </div>
            </div>
        </div>
        <div class="browse-main-container">
            <div class="browse-main-container-slider">
              <div id="carouselExampleInterval" class="carousel slide next-carousel" data-bs-ride="carousel">
                <div class="carousel-inner next-main-carousel" style="background-color:black;">
                  {% for items in update %}
                    <div class="carousel-item video-slider active" data-bs-interval="10000">
                        {% if not items.browse_url %}
                        <video preload="auto" src="/media/{{items.browse_clip}}" class="video next-video" autoplay loop muted poster="{{items.browse_image}}">
                        </video>
                        {% else %}
                        <video preload="auto" src="/media/{{items.browse_clip}}" class="video next-video" autoplay loop muted poster="{{items.browse_url}}">
                        </video>
                        {% endif %}
                        <div class="carousel-caption">
                            <div class="procont">
                                <div class="movie-head next-head-bottom">
                                    <div class="moviedescription">
                                        <h1>{{ items.browse_name }}</h1>
                                        <div class="info-trailler-btn">
                                            <button class="watch-trailler watch-trailler-1" data-video-id="{{items.browse_trailler}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                  Watch Trailler
                                            </button>
                                        </div>
                                    </div>

                                    <span class="maturity-rating">
                                      <span class="maturity-number">
                                        {% if items.coming %}
                                        <div>Coming soon</div>
                                        {% else %}
                                        <div>Release at: {{items.browse_release_date}}</div>
                                        {% endif %}
                                      </span>
                                  </span>

                                </div>

                            </div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev" fdprocessedid="lgpeob">
              <span class="visually-hidden">Previous</span>
            </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next" fdprocessedid="aq0ris">
              <span class="visually-hidden">Next</span>
            </button>
            </div>
            </div>
            <div class="browse-main-container-items">
              <div class="browse-main-container-filter">
                <h5>
                    Continue Watching ...
                </h5>
                <div>
                  <form method="GET">
                    <select name="year" class="ui fluid dropdown" onchange="this.form.submit()">
                      <option value="">Year</option>
                      {% for item in all_movies  %}
                         <option value="{{item.movie_year}}">{{item.movie_year}} </option>
                      {% endfor %}
                    </select>
                </form>
                <form method="GET">
                  <select name="filter" class="ui fluid dropdown" onchange="this.form.submit()">
                    <option value="">Sort by</option>
                    <option value="Latest" {% if sort_by == 'Latest' %} selected {% endif %} >Latest</option>
                      <option value="Popular" {% if sort_by == 'Popular' %} selected {% endif %}>Popular</option>
                  </select>
                </form>
              </div>

              </div>
              <div class="browse-main-container-data-all">
                <div class="scroll-holder">
                 <div class="scroll-items">
                    <p>Latest Release</p>
                    <div class="scroll-tray">
                    {% for items in items  %}
                      <a href="{% url 'detail' items.slug %}" >
                        <div class="scroll-tray-items">
                          <div class="scroll-tray-items-image">
                              <img src="{{items.poster_portrait}}" alt="{{items.name}}">
                          </div>
                          <div class="scroll-tray-items-data">
                            <div class="scroll-tray-items-update">
                              <p>{{items.updated_at}}</p>
                            </div>
                            <div class="scroll-tray-items-name">
                              <p class="p">{{items.name}}</p>
                              <p>{{items.movie_year}}</p>
                            </div>
                            <div class="scroll-tray-items-tag">
                             <p>{{items.tags.name}}</p>
                            </div>
                          </div>
                        </div>
                      </a>
                      {% empty %}
                      <p style="
                      color: #737373;
                      text-align: center;
                      display: block;
                      width: 100%;
                      font-size: clamp(11px,1vw,20px);
                      padding: 5px;
                      ">no data found</p>
                    {% endfor %}
                    </div>
                  </div>
                  {% include 'pagination.html' %}
                  </div>
                <div class="scroll-holder">
                  {% for tags in movie_tags  %}
                  <div class="scroll-items">
                    <p>{{tags.name}}</p>
                      <div class="scroll-tray">
                        {% for items in tags.movie_tags.all  %}
                        <a href="{% url 'detail' items.slug %}" >
                          <div class="scroll-tray-items scroll-animation">
                            <div class="scroll-tray-items-image">
                                <img src="{{items.poster_portrait}}" alt="{{items.name}}">
                            </div>
                            <div class="scroll-tray-items-data">
                              <div class="scroll-tray-items-update">
                                <p>{{items.updated_at}}</p>
                              </div>
                              <div class="scroll-tray-items-name">
                                <p class="p">{{items.name}}</p>
                                <p>{{items.movie_year}}</p>
                              </div>
                              <div class="scroll-tray-items-tag">
                               <p>{{items.tags.name}}</p>
                              </div>
                            </div>
                          </div>
                        </a>
                        {% empty %}
                        <p style="
                        color: #737373;
                        text-align: center;
                        display: block;
                        width: 100%;
                        font-size: clamp(11px,1vw,20px);
                        padding: 5px;
                        ">no data found</p>
                        {% endfor %}
                      </div>
                  </div>
                  {% endfor %}
                 </div>
                <div class="scroll-holder">
                  {% for category in category  %}
                  <div class="scroll-items">
                    <p>{{category.category}}</p>
                    <div class="scroll-tray">
                      {% for items in category.categories.all  %}
                      <a href="{% url 'detail' items.slug %}" >
                        <div class="scroll-tray-items scroll-animation">
                          <div class="scroll-tray-items-image">
                              <img src="{{items.poster_portrait}}" alt="{{items.name}}">
                          </div>
                          <div class="scroll-tray-items-data">
                            <div class="scroll-tray-items-update">
                              <p>{{items.updated_at}}</p>
                            </div>
                            <div class="scroll-tray-items-name">
                              <p class="p">{{items.name}}</p>
                              <p>{{items.movie_year}}</p>
                            </div>
                            <div class="scroll-tray-items-tag">
                             <p>{{items.tags.name}}</p>
                            </div>
                          </div>
                        </div>
                      </a>
                      {% empty %}
                      <p style="
                      color: #737373;
                      text-align: center;
                      display: block;
                      width: 100%;
                      font-size: clamp(11px,1vw,20px);
                      padding: 5px;
                      ">no data found</p>
                      {% endfor %}
                    </div>
                  </div>
                  {% endfor %}

                 </div>
              </div>
            </div>

        </div>
    </div>

</section>
{% endblock Start %}
