<section class="catagories-shortcuts">
    {% for category in category  %}
    <main class="catagory">
        <h2 class="thumbTitle">{{category.category}}</h2>
        <span style="text-align: right;"><a href="{% url 'Browse' %}" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:14px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:14px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for items in category.categories.all  %}
                <div class="swiper-slide">
                    <a href="{% url 'detail' items.slug %}">
                        <img src="{{items.poster_portrait}}" alt="{{items.name}}" title="{{items.name}}" />
                    </a>
                </div>
                {% empty %}
                <p style="
                color: #737373;
                text-align: center;
                display: block;
                width: 100%;
                font-size: clamp(11px,1vw,20px);
                padding: 5px;
                ">no data found</p>
                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
    {% endfor %}

</section>
