{% extends 'base.html' %}

{% block meta %}

{% block title %}Netifix - {{items.name}} {% endblock title %}

<link rel="icon" href="/media/netifix.png">
<meta name="keywords" content="Watch, Download, Strem, movie , Netfilx">
{% endblock meta %}

{% block Start %}
<section class="movie-description">

    <div class="movie-name">
        <h2>{{items.name}}</h2>
        <div class="movie-rating">
            <span>{{items.movie_match}}% Match</span>
            <span style="text-transform: uppercase;">{{items.movie_grade}}</span>
            <span>{{items.movie_duration}}</span>
        </div>
    </div>
    <div class="movie-poster-trailer">
        <div class="movie-poster">
            <img src="{{items.poster_portrait}}" alt="{{items.name}}">

        </div>
        <div class="movie-info">
            <div class="movie-catagory">
                {% for category in items.category.all|slice:"3"  %}
            <button><a href="#">{{category.category}}</a></button>
            {% endfor %}
            </div>
            <div class="movie-info-detail">
                <p>{{items.description}}</p>
            </div>
        </div>
        <div class="movie-trailler">
            <iframe src="https://www.youtube.com/embed/{{items.movie_trailler}}?vq=hd1080&autoplay=1&loop=1&modestbranding=1&rel=0&iv_load_policy=3&fs=0&disablekb=1&mute=1&playlist={{items.movie_trailler}}" title="{{items.name}}" frameborder="0"></iframe>
        </div>
    </div>
    <div class="main-frame-movie-catagory">

        <div class="main-movie-catagory">
            {% for category in items.category.all|slice:"3"  %}
            <button><a href="#">{{category.category}}</a></button>
            {% endfor %}
        </div>
        <div class="main-movie-desc">
<p>{{items.description}}</p>
</div>
    </div>
    <!-- detail section  -->
    <div class="special-thanks">
        <ul>
            <li><span>Release date</span>
                <ul>
                    <li>{{items.released_at}}</li>
                </ul>
            </li>
            <li><span>Director</span>
                <ul>
                    <li>{{items.director}}</li>

                </ul>
            </li>
            <li><span>Distibuted by</span>
                <ul>
                    <li>{{items.tags.name}}</li>
                </ul>
            </li>
            <li><span>Cast</span>
                <ul>
                    <li>{{items.cast}}</li>

                </ul>
            </li>
            <li><span>Language</span>
                <ul>
                    <li>{{items.language}}</li>
                </ul>
            </li>
            <li><span>Subtitle</span>
                <ul>
                    <li>{{items.subtitle}}</li>
                </ul>
            </li>
            <li><span>Quality</span>
                <ul>
                    <li>{{items.quality}}</li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- library section  -->

    <div id="movie-library" class="section-p1">
        <h2>Library</h2>
        <div class="pre-screenshorts">
            <div class="screenshort">
                <img src="{{items.screenshot_1}}" alt="screenshort">
            </div>
            <div class="screenshort">
                <img src="{{items.screenshot_2}}" alt="screenshort">
            </div>
            <div class="screenshort">
                <img src="{{items.screenshot_3}}" alt="screenshort">
            </div>
            <div class="screenshort">
                <img src="{{items.screenshot_4}}" alt="screenshort">
            </div>
            <div class="screenshort">
                <img src="{{items.screenshot_5}}" alt="screenshort">
            </div>
            <div class="screenshort">
                <img src="{{items.screenshot_6}}" alt="screenshort">
            </div>

        </div>
    </div>
</section>
{% include 'downloads.html' %}
<section style="background-color: black;">
    <p style="
    text-align: center;
    color: #686868;
    padding: 4px 1.5vw;
    font-weight: 800;
    font-size: clamp(14px, 2vw, 50px);">Related items</p>
    <div class="related-holder">
           <div class="related-items">
               <p style="
               color: #dddddd;
               padding: 4px 1.5vw;
               font-weight: 700;
               margin: 1vw !important;
               font-size: clamp(14px, 2vw, 17px);
               ">{{ items.tags.name}}</p>
               <div class="related-tray">
                 {% for items in related_tags  %}
                 <a href="{% url 'detail' items.slug %}" >
                   <div class="related-tray-items related-animation">
                     <div class="related-tray-items-image">
                         <img src="{{items.poster_portrait}}" alt="{{items.name}}">
                     </div>
                     <div class="related-tray-items-data">
                       <div class="related-tray-items-update">
                         <p>{{items.updated_at}}</p>
                       </div>
                       <div class="related-tray-items-name">
                         <p class="p">{{items.name}}</p>
                         <p>{{items.movie_year}}</p>
                       </div>
                       <div class="related-tray-items-tag">
                        <p>{{items.tags.name}}</p>
                       </div>
                     </div>
                   </div>
                 </a>
                 {% empty %}
                 <p style="
                 color: #737373;
                 text-align: center;
                 display: block;
                 width: 100%;
                 font-size: clamp(11px,1vw,20px);
                 padding: 5px;
                 ">no data found</p>
                 {% endfor %}
               </div>
           </div>
    </div>
    <div class="related-holder">
     {% for related_items in related_categories %}
        <div class="related-items">
            <p style="
            color: #dddddd;
            font-weight: 700;
            padding: 4px 1.5vw;
            margin: 1vw !important;
            font-size: clamp(14px, 2vw, 17px);
        ">{{related_items.category}}</p>
            <div class="related-tray">
              {% for items in related_items.categories.all|slice:":20"  %}
              <a href="{% url 'detail' items.slug %}" >
                <div class="related-tray-items related-animation">
                  <div class="related-tray-items-image">
                      <img src="{{items.poster_portrait}}" alt="{{items.name}}">
                  </div>
                  <div class="related-tray-items-data">
                    <div class="related-tray-items-update">
                      <p>{{items.updated_at}}</p>
                    </div>
                    <div class="related-tray-items-name">
                      <p class="p">{{items.name}}</p>
                      <p>{{items.movie_year}}</p>
                    </div>
                    <div class="related-tray-items-tag">
                     <p>{{items.tags.name}}</p>
                    </div>
                  </div>
                </div>
              </a>
              {% empty %}
              <p style="
              color: #737373;
              text-align: center;
              display: block;
              width: 100%;
              font-size: clamp(11px,1vw,20px);
              padding: 5px;
              ">no data found</p>
              {% endfor %}
            </div>
        </div>
     {% endfor %}
    </div>
</section>

{% endblock Start %}
