<section id="footer">
    <div id="footercontent">
        <div id="socialicons">
            <ul>
                <li>
                    <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" title="Youtube"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" title="Threads"><i class="fa-brands fa-threads"></i></a>
                </li>
            </ul>

        </div>
        <div id="footer-content-urls">
            <ul>
                <li>
                    <a href="{% url 'dmca' %}" title="Digital Millennium Copyright Act Policy : Information (DMCA)">DMCA</a>
                </li>
                <li>
                    <a href="{% url 'about' %}" title="About">About</a>
                </li>
                <li>
                    <a href="#" title="Get in Touch">Get in touch</a>
                </li>
                <li>
                    <a href="#" title="Netifix Mobile App">Download App</a>
                </li>
            </ul>

        </div>
        <div id="subscribe">
            <form>
                <input type="email" name="subscribe" placeholder="Enter your Email" autocomplete="off">
                <button type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Subscribe</button>
            </form>
        </div>
        <div id="backtotop">
            <ul>
                <li>
                    <button title="Back to top" id="back-to-top"><i class="fa-solid fa-arrow-up"></i></button>
                </li>
            </ul>

        </div>

    </div>
    <div id="copyright">
        <p>Copyright<i class="fa-regular fa-copyright"></i>2023 Created by Tanmay</p>

    </div>

</section>
