{% extends 'base.html' %}

{% block Start %}
<!-- {% include 'preloader.html' %} -->

<!-- hot thrills section -->
{% include 'hotthrills.html' %}

<!-- trending section ------------------------------------------------------------------- -->

<section id="trending-movies-slider">
    <div class="trending-movie-head" data-direction="right" data-speed="slow">
        <div class="trending-movie-content">

            {% for items in trend  %}
            <img onclick="window.location.href='/detail/{{items.movies.slug}}'" src="{{items.poster_landscape}}"alt="" />
            {% endfor %}
        </div>
    </div>
</section>

<!--  main ----------------------------------------------------------------------------  -->

{% include 'main.html' %} <!-- main section and pagination -->

<!--  movie poster ------------------------------------------------------------------  -->

<section class="sub-movie-poster">
{% for items in recomanded1  %}
<section style="padding-bottom: 16px;">
<section class="movie-poster" >
    <div class="movie-poster-img">
        <img src="/media/{{items.movie_wallpaper}}" alt="{{items.movies.name}}">

    </div>
    <div class="movie-poster-banner">
        <div class="movie-poster-banner-img">
            <img src="{{items.movies.poster_portrait}}" alt="{{items.movies.name}}" />

        </div>
        <div class="movie-poster-banner-detail">
            <p class="movie-poster-banner-detail-img">
                <img src="https://cdn.freebiesupply.com/images/large/2x/imdb-logo-transparent.png" alt="">
            </p>
            <span>{{items.movies.imdb_rating}}</span>
            <p class="release-date">
                {{items.movies.movie_year}}
            </p>
            <h2>PACAFIC RIM</h2>
            <p class="movie-poster-banner-detail-para">
            {{items.movies.description}}
             </p>
            <div class="info-trailler-btn movie-poster-banner-detail-btn">
                <button class="watch-trailler watch-trailler-1" data-video-id="{{items.movies.movie_trailler}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                          </svg>
                          Watch Trailler
                    </button>
                 <button onclick="window.location.href='/detail/{{items.movies.slug}}'" class="more-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>More info</button>
            </div>
        </div>
    </div>

</section>
</section>
{% endfor %}
</section>

<!-- catagories shortcuts , scifi, Action ,Advanture ,Comedy , Fantasy -----------------------------------------------------------  -->

<section class="catagories-shortcuts">
    <main class="catagory">
        <h2 class="thumbTitle">Scifi</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for Scifi in Scifi  %}
                <div class="swiper-slide">
                    <a href="{% url 'detail' Scifi.slug %}">
                        <img src="{{Scifi.poster_portrait}}" alt="{{Scifi.name}}" title="{{Scifi.name}}" />
                    </a>
                </div>
                {% empty %}
                <p style="
                color: #737373;
                text-align: center;
                display: block;
                width: 100%;
                font-size: clamp(11px,1vw,20px);
                padding: 5px;
                ">no data found</p>
                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
    <main class="catagory">
        <h2 class="thumbTitle">Action</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->

                {% for Action in Action  %}
                <div class="swiper-slide">
                    <a href="{% url 'detail' Action.slug %}">
                        <img src="{{Action.poster_portrait}}" alt="{{Action.name}}" title="{{Action.name}}" />
                    </a>
                </div>
                {% empty %}
                <p style="
                color: #737373;
                text-align: center;
                display: block;
                width: 100%;
                font-size: clamp(11px,1vw,20px);
                padding: 5px;
                ">no data found</p>
                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
    <main class="catagory">
        <h2 class="thumbTitle">Advanture</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->

                {% for Advanture in Advanture  %}
                <div class="swiper-slide">
                    <a href="{% url 'Advanture' Advanture.slug %}">
                        <img src="{{Advanture.poster_portrait}}" alt="{{Advanture.name}}" title="{{Advanture.name}}" />
                    </a>
                </div>
                {% empty %}
                <p style="
                color: #737373;
                text-align: center;
                display: block;
                width: 100%;
                font-size: clamp(11px,1vw,20px);
                padding: 5px;
                ">no data found</p>
                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
    <main class="catagory">
        <h2 class="thumbTitle">Comedy</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->

                {% for Comedy in Comedy  %}
                <div class="swiper-slide">
                    <a href="{% url 'detail' Comedy.slug %}">
                        <img src="{{Comedy.poster_portrait}}" alt="{{Comedy.name}}" title="{{Comedy.name}}" />
                    </a>
                </div>
                {% empty %}
                <p style="
                color: #737373;
                text-align: center;
                display: block;
                width: 100%;
                font-size: clamp(11px,1vw,20px);
                padding: 5px;
                ">no data found</p>
                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
    <main class="catagory">
        <h2 class="thumbTitle">Fantasy</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->

                {% for Fantasy in Fantasy  %}
                <div class="swiper-slide">
                    <a href="{% url 'detail' Fantasy.slug %}">
                        <img src="{{Fantasy.poster_portrait}}" alt="{{Fantasy.name}}" title="{{Fantasy.name}}" />
                    </a>
                </div>
                {% empty %}
                <p style="
                color: #737373;
                text-align: center;
                display: block;
                width: 100%;
                font-size: clamp(11px,1vw,20px);
                padding: 5px;
                ">no data found</p>
                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
</section>

<!--  movie poster ------------------------------------------------------------------  -->

<section class="sub-movie-poster">
{% for items in recomanded2  %}
<section style="padding-bottom: 16px;">
<section class="movie-poster" >
    <div class="movie-poster-img">
        <img src="/media/{{items.movie_wallpaper}}" alt="{{items.movies.name}}">
    </div>
    <div class="movie-poster-banner">
        <div class="movie-poster-banner-img">
            <img src="{{items.movies.poster_portrait}}" alt="{{items.movies.name}}" />
        </div>
        <div class="movie-poster-banner-detail">
            <p class="movie-poster-banner-detail-img">
                <img src="https://cdn.freebiesupply.com/images/large/2x/imdb-logo-transparent.png" alt="">
            </p>
            <span>{{items.movies.imdb_rating}}</span>
            <p class="release-date">
                    {{items.movies.movie_year}}
            </p>
            <h2>PACAFIC RIM</h2>
            <p class="movie-poster-banner-detail-para">{{items.movies.description}}
            </p>
            <div class="info-trailler-btn movie-poster-banner-detail-btn">
              <button class="watch-trailler watch-trailler-1" data-video-id="{{items.movies.movie_trailler}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                </svg>
                  Watch Trailler
              </button>
              <button onclick="window.location.href='/detail/{{items.movies.slug}}'" class="more-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>More info
              </button>
            </div>
        </div>
    </div>
</section>
</section>
{% endfor %}
</section>

<!-- categories shortcuts , history , horror , thriller , mystery , romance , sports  -------------------------------------------------------------------- -->
<section class="catagories-shortcuts">
    <main class="catagory">
        <h2 class="thumbTitle">Horror</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for Horror in Horror  %}
                <div class="swiper-slide">
                    <a href="{% url 'detail' Horror.slug %}">
                        <img src="{{Horror.poster_portrait}}" alt="{{Horror.name}}" title="{{Horror.name}}" />
                    </a>
                </div>
                {% empty %}
                <p style="
                color: #737373;
                text-align: center;
                display: block;
                width: 100%;
                font-size: clamp(11px,1vw,20px);
                padding: 5px;
                ">no data found</p>
                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
    <main class="catagory">
        <h2 class="thumbTitle">Thriller</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->

                {% for Thriller in Thriller  %}
                <div class="swiper-slide">
                    <a href="{% url 'detail' Thriller.slug %}">
                        <img src="{{Thriller.poster_portrait}}" alt="{{Thriller.name}}" title="{{Thriller.name}}" />
                    </a>
                </div>
                {% empty %}
                <p style="
                color: #737373;
                text-align: center;
                display: block;
                width: 100%;
                font-size: clamp(11px,1vw,20px);
                padding: 5px;
                ">no data found</p>
                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
    <main class="catagory">
        <h2 class="thumbTitle">Mystery</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->

                {% for Mystery in Mystery  %}
                <div class="swiper-slide">
                    <a href="{% url 'detail' Mystery.slug %}">
                        <img src="{{Mystery.poster_portrait}}" alt="{{Mystery.name}}" title="{{Mystery.name}}" />
                    </a>
                </div>
                {% empty %}
                <p style="
                color: #737373;
                text-align: center;
                display: block;
                width: 100%;
                font-size: clamp(11px,1vw,20px);
                padding: 5px;
                ">no data found</p>
                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
    <main class="catagory">
        <h2 class="thumbTitle">Romance</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->

                {% for Romance in Romance  %}
                <div class="swiper-slide">
                    <a href="{% url 'detail' Romance.slug %}">
                        <img src="{{Romance.poster_portrait}}" alt="{{Romance.name}}" title="{{Romance.name}}" />
                    </a>
                </div>
                {% empty %}
                <p style="
                color: #737373;
                text-align: center;
                display: block;
                width: 100%;
                font-size: clamp(11px,1vw,20px);
                padding: 5px;
                ">no data found</p>
                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
    <main class="catagory">
        <h2 class="thumbTitle">Sports</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->

                {% for Sports in Sports  %}
                <div class="swiper-slide">
                    <a href="{% url 'detail' Sports.slug %}">
                        <img src="{{Sports.poster_portrait}}" alt="{{Sports.name}}" title="{{Sports.name}}" />
                    </a>
                </div>
                {% empty %}
                <p style="
                color: #737373;
                text-align: center;
                display: block;
                width: 100%;
                font-size: clamp(11px,1vw,20px);
                padding: 5px;
                ">no data found</p>
                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
    <main class="catagory">
        <h2 class="thumbTitle">History</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->

                {% for History in History  %}
                <div class="swiper-slide">
                    <a href="{% url 'detail' History.slug %}">
                        <img src="{{History.poster_portrait}}" alt="{{History.name}}" title="{{History.name}}" />
                    </a>
                </div>
                {% empty %}
                <p style="
                color: #737373;
                text-align: center;
                display: block;
                width: 100%;
                font-size: clamp(11px,1vw,20px);
                padding: 5px;
                ">no data found</p>
                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
</section>

<!-- movie poster -------------------------------------------------------------------------------- -->
<section class="sub-movie-poster">
    {% for items in recomanded3  %}
    <section style="padding-bottom: 16px;">
     <section class="movie-poster" >
        <div class="movie-poster-img">
            <img src="/media/{{items.movie_wallpaper}}" alt="{{items.movies.name}}">
        </div>
        <div class="movie-poster-banner">
            <div class="movie-poster-banner-img">
                <img src="{{items.movies.poster_portrait}}" alt="{{items.movies.name}}" />
            </div>
            <div class="movie-poster-banner-detail">
                <p class="movie-poster-banner-detail-img">
                    <img src="https://cdn.freebiesupply.com/images/large/2x/imdb-logo-transparent.png" alt="">
                </p>
                <span>{{items.movies.imdb_rating}}</span>
                <p class="release-date">
                        {{items.movies.movie_year}}
                </p>
                <h2>PACAFIC RIM</h2>
                <p class="movie-poster-banner-detail-para">{{items.movies.description}}
                </p>
                <div class="info-trailler-btn movie-poster-banner-detail-btn">
                  <button class="watch-trailler watch-trailler-1" data-video-id="{{items.movies.movie_trailler}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                    </svg>
                      Watch Trailler
                  </button>
                  <button onclick="window.location.href='/detail/{{items.movies.slug}}'" class="more-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>More info
                  </button>
                </div>
            </div>
        </div>
    </section>
    </section>
    {% endfor %}
</section>

<!-- movie Tags --------------------------------------------------------------------------------------->
{% include 'tags.html' %}

{% endblock%}
