{% extends 'base.html' %}

{% block title %}Netifix{% endblock title %}

{% block meta %}
<link rel="icon" href="/media/netifix.png">
<meta name="keywords" content="Watch, Download, Strem, movie , Netfilx">
{% endblock meta %}

{% block Start %}
{% include 'preloader.html' %}

<!-- hot thrills section -->
{% include 'hotthrills.html' %}

<!-- trending section ------------------------------------------------------------------- -->

<section id="trending-movies-slider">
    <div class="trending-movie-head" data-direction="right" data-speed="slow">
        <div class="trending-movie-content">

            {% for items in trend  %}
            <img onclick="window.location.href='/detail/{{items.movies.slug}}'" src="{{items.poster_landscape}}"alt="" />
            {% endfor %}
        </div>
    </div>
</section>

<!--  main ----------------------------------------------------------------------------  -->

{% include 'main.html' %} <!-- main section and pagination -->

<!--  movie poster ------------------------------------------------------------------  -->

<section class="sub-movie-poster">
{% for items in recomanded1  %}
<section style="padding-bottom: 16px;">
<section class="movie-poster" >
    <div class="movie-poster-img">
        <img src="/media/{{items.movie_wallpaper}}" alt="{{items.movies.name}}">

    </div>
    <div class="movie-poster-banner">
        <div class="movie-poster-banner-img">
            <img src="{{items.movies.poster_portrait}}" alt="{{items.movies.name}}" />

        </div>
        <div class="movie-poster-banner-detail">
            <p class="movie-poster-banner-detail-img">
                <img src="https://cdn.freebiesupply.com/images/large/2x/imdb-logo-transparent.png" alt="">
            </p>
            <span>{{items.movies.imdb_rating}}</span>
            <p class="release-date">
                {{items.movies.movie_year}}
            </p>
            <h2>{{items.movies.name}}</h2>
            <p class="movie-poster-banner-detail-para">
            {{items.movies.description}}
             </p>
            <div class="info-trailler-btn movie-poster-banner-detail-btn">
                <button class="watch-trailler watch-trailler-1" data-video-id="{{items.movies.movie_trailler}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                          </svg>
                          Watch Trailler
                    </button>
                 <button onclick="window.location.href='/detail/{{items.movies.slug}}'" class="more-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>More info</button>
            </div>
        </div>
    </div>

</section>
</section>
{% endfor %}
</section>

<!-- catagories shortcuts , scifi, Action ,Advanture ,Comedy , Fantasy -----------------------------------------------------------  -->

{% include 'categories.html' %}

<!-- movie poster -------------------------------------------------------------------------------- -->
<section class="sub-movie-poster">
    {% for items in recomanded2  %}
    <section style="padding-bottom: 16px;">
    <section class="movie-poster" >
        <div class="movie-poster-img">
            <img src="/media/{{items.movie_wallpaper}}" alt="{{items.movies.name}}">
        </div>
        <div class="movie-poster-banner">
            <div class="movie-poster-banner-img">
                <img src="{{items.movies.poster_portrait}}" alt="{{items.movies.name}}" />
            </div>
            <div class="movie-poster-banner-detail">
                <p class="movie-poster-banner-detail-img">
                    <img src="https://cdn.freebiesupply.com/images/large/2x/imdb-logo-transparent.png" alt="">
                </p>
                <span>{{items.movies.imdb_rating}}</span>
                <p class="release-date">
                        {{items.movies.movie_year}}
                </p>
                <h2>{{items.movies.name}}</h2>
                <p class="movie-poster-banner-detail-para">{{items.movies.description}}
                </p>
                <div class="info-trailler-btn movie-poster-banner-detail-btn">
                  <button class="watch-trailler watch-trailler-1" data-video-id="{{items.movies.movie_trailler}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                    </svg>
                      Watch Trailler
                  </button>
                  <button onclick="window.location.href='/detail/{{items.movies.slug}}'" class="more-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>More info
                  </button>
                </div>
            </div>
        </div>
    </section>
    </section>
    {% endfor %}
    </section>

<!-- movie Tags --------------------------------------------------------------------------------------->
{% include 'tags.html' %}

{% endblock%}
