{% extends 'base.html' %}

{% block title %}Netifix - Watch Netflix TV Shows and Movies {% endblock title %}
{% block meta %}


<link rel="icon" href="/media/netifix.png">
<meta name="keywords" content="Watch, Download, Strem, movie , Netfilx">
{% endblock meta %}

{% block Start %}
<section id="netflix-content">
    <div class="header-link">
        <h2>Popular on Netflix</h2>
        <img src="/media/netflix.png" alt="Netflix" border="0">

    </div>
    {% include 'latest.html' %}

    {% include 'pagination.html' %}
</section>
{% endblock Start %}
